<template>
  <div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">Kapook</h1>
      </div>
      <table class="table col-md-6 mx-auto">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ first_name }} {{ last_name }}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <section>
          <div>
            <span>
              <h3>ยอดเงินคงเหลือ: {{ clientBalance }}</h3>
            </span>
            <b-button
              variant="success"
              class="float-right"
              @click="addNewOperation"
              >Add New</b-button
            >
            <b-modal
              id="modal-form-operation"
              ref="modal-form-operation"
              :title="title"
              @hidden="resetModal"
              @ok="handleOk"
            >
              <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                  label="Amount"
                  label-for="amount"
                  :invalid-feedback="invalidFeedbackAmount"
                  :valid-feedback="validFeedbackAmount"
                  :state="stateAmount"
                >
                  <b-form-input
                  type="number"
                    id="amount"
                    v-model="form.amount"
                    required
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label="Type:"
                  label-for="type"
                  :invalid-feedback="invalidFeedbackType"
                  :valid-feedback="validFeedbackType"
                  :state="stateType"
                >
                  <b-form-select
                    id="type"
                    v-model="form.type"
                    :options="typeOptions"
                    required
                  ></b-form-select>
                </b-form-group>
              </form>
              <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{ form }}</pre>
              </b-card>
            </b-modal>
            <b-table :items="operationList" :fields="fields"> </b-table>
            <div></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import jwtDecode from 'jwt-decode'
import axios from 'axios'
export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    return {
      first_name: decoded.first_name,
      last_name: decoded.last_name,
      email: decoded.email,
      title: 'ฝาก/ถอน',
      form: {
        _id: '',
        date: new Date().toJSON(),
        type: null,
        amount: 0
      },
      typeOptions: [
        { text: 'Select One', value: null },
        { value: 'Withdraw', text: 'Withdraw' },
        { value: 'Deposit', text: 'Deposit' }
      ],
      operationList: [],
      fields: ['date', 'type', 'amount'],
      user: {}
    }
  },
  methods: {
    resetModal () {
      this.form = {
        _id: '',
        date: new Date().toJSON(),
        type: null,
        amount: 0
      }
      this.title = 'ฝาก/ถอน'
    },
    addNewOperation () {
      this.$bvModal.show('modal-form-operation')
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        // eslint-disable-next-line no-mixed-operators
        this.form.type === null
      ) {
        return alert('Please Input Amount Or Select Type')
      }
      if (
        this.form.amount <= 0 ||
        // eslint-disable-next-line no-useless-escape
        this.form.amount === '/^\d+$/'
        // // eslint-disable-next-line no-useless-escape
        // this.form.amount !== '/^\d+$/'
      ) {
        return alert('Please Input Amount Or Select Type')
      }
      // if (
      //   // eslint-disable-next-line no-useless-escape
      //   this.form.amount === '/^\d+$/'
      // ) {
      //   return alert('Please Input Number')
      // }
      if (
        this.form.type === 'Withdraw' &&
        this.form.amount > this.clientBalance
      ) {
        return alert('Please Check Your Balance')
      }
      // if (
      //   // eslint-disable-next-line no-useless-escape
      //   this.form.amount !== '[0-9]'
      // ) {
      //   return alert('Please Check Your Amount')
      // }
      // if (
      //   // eslint-disable-next-line no-useless-escape
      //   this.form.amount === '/^\d+$/' &&
      //   this.form.type !== 'Withdraw'
      // ) {
      //   return alert('Please Check Your Opreation')
      // }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:5000/operations', this.form)
          .then(res => {
            this.getOperations()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:5000/operations/add', this.form)
          .then(res => {
            this.getOperations()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-operation')
      })
    },
    getOperations () {
      axios
        .get('http://localhost:5000/operations/get')
        .then(res => {
          this.operationList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  created () {
    this.getUserDetails()
  },
  computed: {
    clientBalance: function () {
      let clientBalance = 0
      for (let i = 0; i < this.operationList.length; i++) {
        if (this.operationList[i].type === 'Withdraw') {
          clientBalance -= this.operationList[i].amount
        } else {
          clientBalance += this.operationList[i].amount
        }
      }
      return clientBalance
    },
    stateAmount () {
      return this.form.amount > 0
    },
    invalidFeedbackAmount () {
      if (this.form.amount > 0) {
        return ''
      } else if (this.form.amount <= 0) {
        return 'ต้องใส่จำนวนเงินมากกว่า 0'
      } else {
        return 'ต้องใส่จำนวนเงิน'
      }
    },
    validFeedbackAmount () {
      return this.stateAmount === true ? 'สำเร็จ' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกรายการ'
      }
    },
    validFeedbackType () {
      return this.statetype === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getOperations()
  }
}
</script>
<style scoped></style>
